*.pyc
*~
*.sfk
myCsoundAudioOptions.py
*.npy
testsounds/*
memory_recordings/*
carfac-cmd
test.wav
test.txt
.DS_Store
setpath_oeyvind.sh
.sconsign.dblite
carfac_cmd.o
*.txt*save_*
errors.txt
error.txt
*.ASSOCIATION
*.AUDIO LEARN
*.FACES LEARN
*.RESPONDER
OUTPUT*
BRAIN*
STATUS*
LOG*
 
